@model CatalogModel
<div class="col-md-9">
    <div class="content-wrap">
        <h3 style="color: @ViewBag.color">@Model.Title</h3>
        <table class="table_1" cellspacing="1" cellpadding="1" border="0" width="100%">
            <thead>
            <tr>
                <td>kết quả tìm kiểm</td>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">thông tin search hiển thị ở đây.</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>