@model IEnumerable<SearchPageModel>
@{
    ViewData["Title"] = "Tìm kiếm - Path";
    ViewData["Description"] = "path.com.vn";
}
<div class="col-md-9">
    <div class="content-wrap">
        <h3>Kết quả tìm kiếm</h3>
        <table class="table_1" cellspacing="1" cellpadding="1" border="0" width="100%">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a href="@( item.URL.Replace("~/","") )">@item.Name</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>