@{

}

<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">CMS</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">FAQ</a></li>
                            <li class="breadcrumb-item active">Add Question</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Tạo mới câu hỏi</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->


        <div class="row">
            <div class="col-lg-6">
                <div class="card-box">
                    <h5 class="text-uppercase bg-light p-2 mt-0 mb-3">Câu hỏi</h5>

                    <div class="form-group mb-3">
                        <label for="name">Tên <span v-if="!$v.objModel.name.required" class="text-danger">* Nhập câu hỏi</span></label>
                        <input type="text" id="name" name="name" class="form-control" v-model="$v.objModel.name.$model" placeholder="Nhập câu hỏi">
                    </div>
                    <div class="form-group mb-0">
                        <label for="product-meta-description">Trả lời </label>
                        <textarea class="form-control" rows="3" id="product-meta-description" v-model="objModel.anwser" ></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="example-select">Ngôn ngữ</label>
                        <select class="form-control" id="lang" v-model="objModel.lang">
                            <option v-for="lang in langs" v-bind:value="lang.id">
                                {{lang.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="example-select">Nhóm câu hỏi</label>
                        <select class="form-control" id="groupQuestion" v-model="objModel.groupQuestionId">
                            <option value="null">Chọn nhóm</option>
                            <option v-for="group in groupQuestions" v-bind:value="group.id">
                                {{group.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <div class="checkbox mb-2">
                            <input id="active" v-model="objModel.active" type="checkbox">
                            <label for="active">
                                Hiển thị
                            </label>
                        </div>
                    </div>
                </div> <!-- end card-box -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-12">
                <div class="text-center mb-3">
                    <a class="btn w-sm btn-light waves-effect" asp-area="admin" asp-controller="question" asp-action="index">Cancel</a>
                    <button type="button" class="btn w-sm btn-success waves-effect waves-light" v-if="!$v.$anyError" v-on:click="save">Save</button>
                </div>
            </div> <!-- end col -->
        </div>
        <!-- end row -->


    </div> <!-- container -->

</div> <!-- content -->


@section Scripts{
    <script src="~/lib/vuelidate/dist/vuelidate.min.js"></script>
    <script src="~/lib/vuelidate/dist/validators.min.js"></script>
    <script src="~/webAppAdmin/faq/question/create.js"></script>
}