
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 6 ]><html lang="en-us" class="ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en-us" class="ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en-us" class="ie8"> <![endif]-->
<!--[if (gt IE 7)|!(IE)]><!-->
<html lang="en-us">
<!--<![endif]-->

<head>
    <meta charset="utf-8">

    <title>Pets Grooming - Theme Documentation</title>

    <meta name="description" content="Thank you for purchasing our theme. If you have any questions that are beyond the scope of this help file, please feel free to email via our user page contact form here.">
    <meta name="author" content="AxiomThemes">
    <meta name="copyright" content="AxiomThemes">
    <meta name="date" content="2013-09-30T00:00:00+01:00">

    <link rel="stylesheet" href="~/document/css/style.css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700' rel='stylesheet' type='text/css' />

    <script src="~/document/js/jquery.1.6.4.js"></script>
    <script src="~/document/js/jquery.scrollTo-1.4.2-min.js"></script>
    <script src="~/document/js/jquery.easing.js"></script>
    <script>document.createElement('section');var duration=500,easing='swing';</script>
    <script src="~/document/js/script.js"></script>
</head>

<body>
<div class="tail-right"></div>
	<header id="header">
		<div class="wrapper">
			<div class="doc-title"><span>Path</span> - CMS Documentation by <a href="#" target="_blank" title="Our portfolio">Iteam</a></div>
			<a href=http://huongdi.tk/" class="demo-link" target="_blank">View Demo</a>
		</div>
	</header>
	<div id="main-wrapper">


		<div id="main" class="clearfix">
			<aside id="sidebar" class="sidebar">
				<div id="logo"><a href="#" target="_blank">Path</a></div>
				<ul id="doc-nav">
				</ul>
			</aside>



		<div id="content">

 <section id="start">
    <h3>Hướng Dẫn Sử Dụng Path Admin</h3>

    <p>Để truy cập vào trang quản trị website Path, bạn phải nhập địa chỉ sau vào browers trình duyệt để truy cập vào trang quản trị</p>
    <p>http://path.com.vn/admin, username: <b>Admin</b> password: <b>123456</b>. <!--For advanced SEO management we recommend installing 3rd party plugins like <a href="https://WordPress.org/plugins/all-in-one-seo-pack/" target="_blank">All In One SEO pack</a>--><br><br>
    <img width="800" src="~/document/images/path-admin.png">
    </p>
    <p>Sau khi đăng nhập vào trang quản trị website path</p>
</section>

<section id="general">
    <h3>Thông tin chung của website Path</h3>

    <p>Để tạo nội dung website hoàn chỉnh, Sau đây Iteam sẽ cung cấp những thông tin cụ thể về kích thước hình ảnh mặc định dành cho website path.</p>
     <ol>
            <li><b>Hình ảnh breadscrum</b> - kích thước 1920x350.</li>
            <li><b>Banner</b> - kích thước 1920x350. (slider trang chủ)</li>
            <li><b>Hình ảnh Tin Tức</b> - kích thước 746x385.</li>
            <li><b>Hình ảnh Đối tác</b> - kích thước 400x299.</li>
            <li><b>Hình ảnh Sản phẩm</b> - kích thước 767x767.</li>
            <li><b>Hình ảnh background sản phẩm</b> - kích thước 1060x1422</li>
        </ol>
</section>

<section id="slider">
    <h3>Setting</h3>
    <p>Trước tiên Iteam sẽ hướng dẫn bạn cách cấu hình website. Trong đó bao gồm các tạo tài khoản mới, cấu hình mail, cấu hình địa chỉ cty hiển thị lên website.</p>

    <section id="slider_swiper">
        <h4>Tạo user mới</h4>
        <p>Để tạo user mới bạn cần truy cập vào trang chính của user (user -> list). Đây là trang chính hiển thị số lượng user đã được tạo cho website.</p>
        <img width="800" src="~/document/images/user-main.png">
        <p></p>
        <p>Trong màn hình chính user bạn click chuột vào biểu tượng <span style="color:#00abea">[Add User]</span> để tạo user như hình bên dưới</p>
        <small class="error"><span>Lưu ý:</span></small> những ô có dấu * là bắt buộc.
        <ol>
            <li><b>Username</b> - tên tài khoản sử dụng login vào website admin.</li>
            <li><b>First Name</b> - tên chủ tài khoản.</li>
            <li><b>Last Name</b> - họ và tên đệm chủ tài khoản.</li>
            <li><b>Email</b> - địa chỉ Email chủ tài khoản.</li>
            <li><b>Password</b> - mật khẩu đăng nhập vào tài khoản.</li>
            <li><b>Roles</b> - chọn quyền hạn cho user</li>
        </ol>
        <img width="800" src="~/document/images/user-create.png">
    </section>

    <section id="slider_revo">
        <h4>Cấu hình Email, địa chỉ công ty và hệ thống chat trực tuyến zalo</h4>
        <p>Để tạo cấu hình cho website bạn cần truy cập vào trang chính (info -> list). Đây là trang chính hiển thị nội dung email, địa chỉ công ty và hệ thống chat trực tuyến đã được tạo cho website.</p>
        <img width="800" src="~/document/images/setting-main.png" alt="">
        <p></p>
        <p>Trong màn hình chính Info bạn click chuột vào biểu tượng <span style="color:#00abea">[Tạo cấu hình]</span> để tạo info như hình bên dưới</p>
        <img width="800" src="~/document/images/setting-create.png">
        <p></p>
        <small class="error"><span>Lưu ý:</span></small> những ô có dấu * là bắt buộc. Bạn cần chọn mục cần cấu hình trước trước khi điền thông tin.
        <img width="400" src="~/document/images/setting-create-op.png" alt="">
        <p></p>
        <ul>
            <li> Thông tin Cty
                <ol>
                    <li><b>Tên</b> - vị trí thể hiện thông tin cty ở trên website (chụ sở trính, nhà máy).</li>
                    <li><b>Địa chỉ</b> - vị trí công ty toạ lạc.</li>
                    <li><b>Điện thoại</b> - số điện thoại liên lạc.</li>
                    <li><b>Hotline</b> - số điện thoại 24/7.</li>
                    <li><b>Fax</b> - số fax của công ty.</li>
                    <li><b>Map</b> - xem công ty trên bản đồ google map ( https://www.google.com/maps/9.779349,105.6189045,11z?hl=vi-VN )</li>
                </ol>
            </li>
            <li> Cấu hình Email
                <ol>
                    <li><b>Tên</b> - cấu hình Email.</li>
                    <li><b>Email</b> - địa chỉ Email khách hàng liên lạc.</li>
                    <li><b>Password</b> - mật khẩu đăng nhập Email.</li>
                    <li><b>SMTP Port</b> - nhập port của mail vd:gmail có port 456.</li>
                    <li><b>SMTP Host</b> - nhập host của mail vd:gmail có smtp là smtp.gmail.com .</li>
                </ol>
            </li>
            <li> Zalo
                <ol>
                    <li><b>Tên</b> - Tên nhân viên.</li>
                    <li><b>Điện thoại</b> - số đt zalo.</li>
                    <li><b>Zalo ID</b> - zalo Chat.</li>
                </ol>
            </li>
        </ul>
    </section>
    <section id="slider_images">
        <h4>Images</h4>
        <p>Để tạo hình ảnh cho website bạn cần truy cập vào trang chính (Image -> list). Đây là trang chính hiển thị nội dung hình ảnh của website bao gồm slider, parnter, và breadscrumb.</p>
        <img width="800" src="~/document/images/images-main.png" alt="">
        <p></p>
        <p>Trong màn hình chính Image bạn click chuột vào biểu tượng <span style="color:#00abea">[Thêm Image]</span> để tạo image như hình bên dưới</p>
        <img width="800" src="~/document/images/image-create.png">
        <p></p>
        <small class="error"><span>Lưu ý:</span></small> Bạn cần chọn mục vị trí trước.
        <img width="600" src="~/document/images/image-create1.png" alt="">
        <p></p>
        <ul>
            <li>Slider, partner và breadscrumb
                <ol>
                    <li><b>Đường dẫn</b> - thông tin không bắt buộc.</li>
                    <li><b>Hình ảnh</b> - Upload hình ảnh bạn muốn hiển thị lên website vào khung này</li>
                    <li><b>Vị trí</b> - Chọn vị trí bạn muốn hiển thị hình ảnh ra ngoài website. .</li>
                </ol>
            </li>
        </ul>
    </section>
</section>


<section id="menus">
    <h3>Blog</h3>
    <p>Bạn đã hoàn thành việc cấu hình website. Bây giờ Iteam sẽ hướng dẫn bạn cách tạo ra Blog và những bài viết tin tức cho website. Hình bên dưới là hình ảnh trang chính của Blog, Dùng để kiểm tra, Chỉnh sửa và xoá những bài tin tức cũ<br><br>
    <img width="800" src="~/document/images/news-main.png"><br><br>

    <section id="category">
        <h4>Danh mục</h4>
        <p>Trước tiên để có thể tạo được bài viết bạn cần phải tạo Danh mục cho bài viết đó vd: tín tức thế giới, tin tức nội bộ. Để tạo được danh mục bạn cần vào phần menu danh mục bên trái (Danh mục -> list). Trong màn hình chính của danh mục bạn click chuột vào biểu tượng <span style="color:#00abea">[Thêm danh mục]</span> để tạo để tạo danh mục như hình bên dưới</p>
        <img width="800" src="~/document/images/news-cate.png"><br><br>
        <small class="error"><span>Lưu ý:</span></small>những ô có dấu * là bắt buộc. <br>- Trong tạo danh mục sẽ có field chọn ngôn ngữ tiếng anh hoặc tiếng viết. Nếu chọn tiếng anh thì tất cả nội dung nhập vào đều phải là tiếng anh và ngược lại.<br><br>
        <ul>
            <li>
                <ol>
                    <li><b>Tên</b> - Tên danh mục.</li>
                    <li><b>Mô tả</b> - nội dung hiển thị cho SEO trên google search</li>
                    <li><b>Ngôn Ngữ</b> - chọn ngôn ngữ bạn muốn sử dụng. Hiện tại có 2 option là Tiếng Việt và Tiếng Anh.</li>
                </ol>
            </li>
        </ul>
    </section>
    <section id="news">
        <h4>Bài viết</h4>
        <p>Để tạo được bài viết bạn cần vào phần menu bài viết bên trái (Bài viết -> list). Trong màn hình chính của bài viết bạn click chuột vào biểu tượng <span style="color:#00abea">[Bài viết mới]</span> để tạo để tạo bài viết mới như hình bên dưới</p>
        <img width="800" src="~/document/images/news-create.png">
        <img width="800" src="~/document/images/news-create2.png"><br><br>
        <small class="error"><span>Lưu ý:</span></small> Trong tạo danh mục sẽ có field chọn ngôn ngữ tiếng anh hoặc tiếng viết. Nếu chọn tiếng anh thì tất cả nội dung nhập vào đều phải là tiếng anh và ngược lại.<br><br>
        <ul>
            <li>
                <ol>
                    <li><b>Tên</b> - Tiêu đề bài viết.</li>
                    <li><b>Mô tả ngắn</b> - nội dung rút gọn bài viết</li>
                    <li><b>Ngôn Ngữ</b> - chọn ngôn ngữ bạn muốn sử dụng. Hiện tại có 2 option là Tiếng Việt và Tiếng Anh.</li>
                    <li><b>Danh mục</b> - Chọn loại danh mục bạn muốn lưu bài viết vào.</li>
                    <li><b>Ngày đăng bài</b> - Chọn ngày giờ bạn muốn đăng bài viết lên website.</li>
                    <li><b>Đánh dấu</b> - Đánh dấu hiển thị bài viết lên website.
                        <ul>
                            <li>Hiển thị: Hiển thị bài viết lên mục bài viết trên website</li>
                            <li>Hiển thị trang chủ: Hiển thị bài viết ra ngoài trang chủ website</li>
                        </ul>
                    </li>
                    <li><b>Hình Ảnh</b> - Úp hình ảnh tiêu biểu cho bài viết.</li>
                    <li><b>Nội Dung</b> - soạn thảo nội dung cho bài viết.</li>
                </ol>
            </li>
        </ul>
    </section>
    <section id="application">
        <h4>Ứng Dụng</h4>
        <p>Để tạo được Ứng dụng bạn cần vào phần menu Page bên trái (Page -> list). Trong màn hình chính của Ứng dụng bạn click chuột vào biểu tượng <span style="color:#00abea">[Tạo page]</span> để tạo để tạo ứng dụng mới như hình bên dưới</p>
        <img width="800" src="~/document/images/application-new1.png">
        <img width="800" src="~/document/images/application-new2.png"><br><br>
        <small class="error"><span>Lưu ý:</span></small> Trong tạo danh mục sẽ có field chọn ngôn ngữ tiếng anh hoặc tiếng viết. Nếu chọn tiếng anh thì tất cả nội dung nhập vào đều phải là tiếng anh và ngược lại.<br><br>
        <ul>
            <li>
                <ol>
                    <li><b>Tên</b> - Tiêu đề bài viết.</li>
                    <li><b>Mô tả ngắn</b> - nội dung rút gọn bài viết</li>
                    <li><b>Ngôn Ngữ</b> - chọn ngôn ngữ bạn muốn sử dụng. Hiện tại có 2 option là Tiếng Việt và Tiếng Anh.</li>
                    <li><b>Đánh dấu</b> - Đánh dấu hiển thị bài viết lên website.
                        <ul>
                            <li>Hiển thị trang chủ: Hiển thị bài viết ra ngoài trang chủ website</li>
                        </ul>
                    </li>
                    <li><b>Hình Ảnh</b> - Úp hình ảnh tiêu biểu cho bài viết.</li>
                    <li><b>Nội Dung</b> - soạn thảo nội dung cho bài viết.</li>
                </ol>
            </li>
        </ul>
    </section>
</section>

<section id="question">
    <h3>Câu hỏi</h3>
    <p>Bạn đã hoàn thành việc tạo bài viết cho website. Bây giờ Iteam sẽ hướng dẫn bạn cách tạo ra nội dung Page FAQ cho website. Hình bên dưới là hình ảnh trang chính của FAQ, Dùng để kiểm tra, Chỉnh sửa và xoá những câu hỏi<br><br>
    <img width="800" src="~/document/images/question-main.png"><br><br>

    <section id="que-cate">
        <h4>Danh mục câu hỏi</h4>
        <p>Trước tiên để có thể tạo được câu hỏi bạn cần phải tạo Danh mục cho câu hỏi vd: nước giải khát, nước chấm v.v. Để tạo được danh mục bạn cần vào phần menu danh mục bên trái (Nhóm câu hỏi -> list). Trong màn hình chính của danh mục bạn click chuột vào biểu tượng <span style="color:#00abea">[Thêm nhóm câu hỏi]</span> để tạo để tạo danh mục như hình bên dưới</p>
        <img width="800" src="~/document/images/question-cate-new.png"><br><br>
        <small class="error"><span>Lưu ý:</span></small>những ô có dấu * là bắt buộc. <br>- Trong tạo danh mục sẽ có field chọn ngôn ngữ tiếng anh hoặc tiếng viết. Nếu chọn tiếng anh thì tất cả nội dung nhập vào đều phải là tiếng anh và ngược lại.<br><br>
        <ul>
            <li>
                <ol>
                    <li><b>Tên</b> - Tên danh mục.</li>
                    <li><b>Ngôn Ngữ</b> - chọn ngôn ngữ bạn muốn sử dụng. Hiện tại có 2 option là Tiếng Việt và Tiếng Anh.</li>
                </ol>
            </li>
        </ul>
    </section>
    <section id="que-news">
        <h4>Câu hỏi</h4>
        <p>Để tạo được câu hỏi bạn cần vào phần menu câu hỏi bên trái (Câu hỏi -> list). Trong màn hình chính của câu hỏi bạn click chuột vào biểu tượng <span style="color:#00abea">[Câu hỏi mới]</span> để tạo câu hỏi mới như hình bên dưới</p>
        <img width="800" src="~/document/images/question-cate.png"><br><br>
        <small class="error"><span>Lưu ý:</span></small> Trong tạo câu hỏi sẽ có field chọn ngôn ngữ tiếng anh hoặc tiếng viết. Nếu chọn tiếng anh thì tất cả nội dung nhập vào đều phải là tiếng anh và ngược lại.<br><br>
        <small class="error"><span>Lưu ý:</span></small> Trong màn hình chính câu hỏi. Nếu bạn thấy cột Nhóm câu hỏi bị trống phần danh mục câu hỏi thì đó là câu hỏi của khách hàng đặt ra ở trên website.<br><br>
        <ul>
            <li>
                <ol>
                    <li><b>Tên</b> - Tiêu đề câu hỏi.</li>
                    <li><b>Trả lời</b> - nội dung trả lời cho tiêu đề câu hỏi</li>
                    <li><b>Ngôn Ngữ</b> - chọn ngôn ngữ bạn muốn sử dụng. Hiện tại có 2 option là Tiếng Việt và Tiếng Anh.</li>
                    <li><b>Nhóm câu hỏi</b> - Chọn nhóm câu hỏi bạn muốn.</li>
                </ol>
            </li>
        </ul>
    </section>
</section>

<section id="product">
    <h3>Sản phẩm</h3>
    <p>Bạn đã hoàn thành việc tạo câu hỏi cho website. Bây giờ Iteam sẽ hướng dẫn bạn cách tạo ra Sản phẩm cho website. Hình bên dưới là hình ảnh trang chính của Sản phẩm, Dùng để kiểm tra, Chỉnh sửa và xoá sản phẩm<br><br>
    <img width="800" src="~/document/images/product-main.png"><br><br>

    <section id="pro-cate">
        <h4>Danh mục sản phẩm</h4>
        <p>Trước tiên để có thể tạo được sản phẩm bạn cần phải tạo Danh mục cho sản phẩm vd: nước giải khát, nước chấm v.v. Để tạo được danh mục bạn cần vào phần menu danh mục bên trái (Nhóm chức năng, nhóm lĩnh vực -> list). Trong màn hình chính của danh mục bạn click chuột vào biểu tượng <span style="color:#00abea">[Tạo nhóm chức năng]</span> để tạo để tạo danh mục như hình bên dưới</p>
        <img width="800" src="~/document/images/product-cate-new.png"><br><br>
        <small class="error"><span>Lưu ý:</span></small>những ô có dấu * là bắt buộc. <br>- Trong tạo danh mục sẽ có field chọn ngôn ngữ tiếng anh hoặc tiếng viết. Nếu chọn tiếng anh thì tất cả nội dung nhập vào đều phải là tiếng anh và ngược lại.<br><br>
        <ul>
            <li>
                <ol>
                    <li><b>Tên</b> - Tên danh mục.</li>
                    <li><b>Mô tả</b> - nội dung hiển thị cho SEO trên google search</li>
                    <li><b>Ngôn Ngữ</b> - chọn ngôn ngữ bạn muốn sử dụng. Hiện tại có 2 option là Tiếng Việt và Tiếng Anh.</li>
                    <li><b>Chọn màu</b> - chọn màu sắc bạn muốn sử dụng cho danh mục. Mã sử dụng màu sắc là hex code vd:#4a81d4.</li>
                    <li><b>Hình ảnh</b> - Hình ảnh đại diện cho nhóm sản phẩm.</li>
                </ol>
            </li>
        </ul>
    </section>
    <section id="product">
        <h4>Sản phẩm</h4>
        <p>Để tạo được sản phẩm bạn cần vào phần menu sản phẩm bên trái (Sản phẩm -> list). Trong màn hình chính của sản phẩm bạn click chuột vào biểu tượng <span style="color:#00abea">[Sản phẩm]</span> để tạo sản phẩm mới như hình bên dưới</p>
        <img width="800" src="~/document/images/product-new.png"><br><br>
        <small class="error"><span>Lưu ý:</span></small> Trong tạo câu hỏi sẽ có field chọn ngôn ngữ tiếng anh hoặc tiếng viết. Nếu chọn tiếng anh thì tất cả nội dung nhập vào đều phải là tiếng anh và ngược lại.<br><br>
        <ul>
            <li>
                <ol>
                    <li><b>Tên</b> - Tên sản phẩm.</li>
                    <li><b>Mô tả</b> - Mô tả ngắn về sản phẩm</li>
                    <li><b>Ngôn Ngữ</b> - chọn ngôn ngữ bạn muốn sử dụng. Hiện tại có 2 option là Tiếng Việt và Tiếng Anh.</li>
                    <li><b>Chọn màu</b> - chọn màu sắc bạn muốn sử dụng cho danh mục. Mã sử dụng màu sắc là hex code vd:#4a81d4.</li>
                    <li><b>Hình ảnh</b> - Hình ảnh cho sản phẩm.</li>
                    <li><b>Nhóm lĩnh vực</b> - Chọn nhóm lĩnh vực cho sản phẩm này.</li>
                    <li><b>Nhóm chức năng</b> - Chọn nhóm chức năng cho sản phẩm này.</li>
                    <li><b>Đánh dấu chọn hiển thị</b>.
                        <ul>
                            <li>Sản phẩm mới: Hiển thị sản phẩm mới lên trang chủ</li>
                            <li>Hiển thị: Hiển thị sản phẩm lên website</li>
                        </ul>
                    </li>
                </ol>
            </li>
        </ul>
    </section>
</section>
<h4 style="margin-left:50px">Iteam</h4>
</div>
</div>
</div>
</body>
</html>
