<div class="bg-hex"></div>
<div class="box mt45">
    <div class="about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="content fadeInLeft">
                        <h1 class="header-title">GIỚI THIỆU VỀ PATH</h1>
                        <p>
                            Công ty TNHH HƯỚNG ĐI – PATH Co., Ltd – chuyên cung cấp hương liệu và phụ gia dùng trong chế biên thực phẩm – dược phẩm; hóa chất và hương liệu dùng trong công nghiệp. Mục tiêu kinh doanh của PATH là cung cấp các sản phẩm chất lượng cao – đảm bảo vệ sinh – an toàn cùng với chất lượng phục vụ tốt nhất để hỗ trợ khách hàng cải thiện chất lượng sản phẩm và tiết giảm chi phí.
                        </p>
                        <p>Chúng tôi cam kết nỗ lực hết sức mình để đạt được sự chấp nhận và tin tưởng của các đối tác thông qua phong cách làm việc chuyên nghiệp và nhiệt tình của đội ngũ nhân viên. Điều này sẽ mang đến niềm tin làm nền tảng cho những mối quan hệ giữa chúng tôi với các đối tác trong và ngoài nước ngày càng phát triển bền vững hơn. Chúng tôi tự hào về sự lựa chọn các nhà cung cấp uy tín và sự chú trọng đến kiểm soát chất lượng sản phẩm đang cung cấp trên thị trường. Với uy tín trong kinh doanh và chất lượng phục vụ, PATH đã chính thức trở thành nhà nhập khẩu và phân phối của MANE – Tập đoàn hương liệu Pháp hàng đầu thế giới – tại thị trường Việt Nam</p>
                        
                        <!--<div class="button"><a class="btn" href="">Tìm hiểu thêm</a></div>-->
                    </div>
                </div>
                <div class="col-md-6 mt60 fadeInRight">
                    <img class="img-fluid" src="~/client/images/path1.png" alt="pathing">
                </div>
            </div>
        </div>
    </div>
</div>