<!-- Header -->
<div class="box">
    <div class="swiper-container swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="~/client/images/slider/slider1.jpg" alt="slider 1"></div>
            <div class="swiper-slide"><img src="~/client/images/slider/slider2.jpg" alt="slider 2"></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>