
<div class="box">
    <div class="new-product">
        <div class="header-filter">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12 mbb20">
                        <span>Sản Phẩm Mới:</span>
                        <select id="pr-option">
                            <option value="1">theo chức năng</option>
                            <option value="2">theo lĩnh vực</option>
                        </select>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <ul class="filter-list">
                            <li class="active"><span>Vị</span></li>
                            <li><span>Mùi</span></li>
                            <li><span>Màu</span></li>
                            <li><span>Cấu Trúc</span></li>
                            <li><span>Khác</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="img-content">
                        <img class="img-fluid" src="~/client/images/product/Apple-Powder.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-content">
                                <p><span>Sản phẩm:</span> Orange Powder</p>
                                <p><span>Thành phần:</span> Thành phần: Dầu ẩm (68%), Medium chain triglycerides (30-32%), màu tự nhiên (<1%) và hương thực phẩm tổng hợp (<1%).</p>
                                <p><span>Công dụng:</span> Dùng tạo hương cho nước uống và bánh kẹo.</p>
                                <p><span>Hướng dẫn sử dụng:</span> Tuỳ theo từng loại sản phẩm mà có mức dùng khác nhau.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="img-content">
                        <img class="img-fluid" src="~/client/images/product/Orange-Powder.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-content">
                                <p><span>Sản phẩm:</span> Orange Powder</p>
                                <p><span>Thành phần:</span> Thành phần: Dầu ẩm (68%), Medium chain triglycerides (30-32%), màu tự nhiên (<1%) và hương thực phẩm tổng hợp (<1%).</p>
                                <p><span>Công dụng:</span> Dùng tạo hương cho nước uống và bánh kẹo.</p>
                                <p><span>Hướng dẫn sử dụng:</span> Tuỳ theo từng loại sản phẩm mà có mức dùng khác nhau.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="img-content">
                        <img class="img-fluid" src="~/client/images/product/Strawberry-Powder.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-content">
                                <p><span>Sản phẩm:</span>Orange Powder</p>
                                <p><span>Thành phần:</span>Thành phần: Dầu ẩm (68%), Medium chain triglycerides (30-32%), màu tự nhiên (<1%) và hương thực phẩm tổng hợp (<1%).</p>
                                <p><span>Công dụng:</span>Dùng tạo hương cho nước uống và bánh kẹo.</p>
                                <p><span>Hướng dẫn sử dụng:</span>Tuỳ theo từng loại sản phẩm mà có mức dùng khác nhau.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="img-content">
                        <img class="img-fluid" src="~/client/images/product/Amla-Powder.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-content">
                                <p><span>Sản phẩm:</span>Orange Powder</p>
                                <p><span>Thành phần:</span>Thành phần: Dầu ẩm (68%), Medium chain triglycerides (30-32%), màu tự nhiên (<1%) và hương thực phẩm tổng hợp (<1%).</p>
                                <p><span>Công dụng:</span>Dùng tạo hương cho nước uống và bánh kẹo.</p>
                                <p><span>Hướng dẫn sử dụng:</span>Tuỳ theo từng loại sản phẩm mà có mức dùng khác nhau.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
