@model HomeModel
<div class="box mt45 mb45">
    <div class="new-product">
        <div class="header-filter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mbb20">
                        <h1 class="header-title">Sản phẩm mới</h1>
                    </div>
                    <div class="col-md-8 col-sm-12">
                    </div>
                </div>
            </div>
        </div>
        <div class="container function display-product">
            <div class="swiper-container swiper1">
                <div class="swiper-wrapper">
                    @foreach (var item in Model.CatalogFunctions)
                    {
                        foreach (var product in item.Product)
                        {
                            <div class="swiper-slide img-content" data-filter="@item.Slug">
                                <a href="#"><img class="img-fluid" src="@product.UrlImage" alt="@product.Name"></a>
                            </div>
                        }
                    }
                    </div>
            </div>
        </div>
    </div>
</div>
