@model HomeModel
<div class="box mt45 mb45">
    <div class="home-partner">
        <div class="container">
            <h1 class="header-title">đối tác của Path</h1>
            <div class="row">
                <div class="col-md-3 col-sm-6 mb100">
                    <img src="/UploadFiles/p11.png">
                </div>
                <div class="col-md-3 col-sm-6 mb100">
                    <img src="/UploadFiles/p13.png">
                </div>
                <div class="col-md-3 col-sm-6 mb100">
                    <img src="/UploadFiles/p14.png">
                </div>
                <div class="col-md-3 col-sm-6 mb100">
                    <img src="/UploadFiles/p15.png">
                </div>
                <div class="col-md-3 col-sm-6 mb100">
                    <img src="/UploadFiles/p11.png">
                </div>
                <div class="col-md-3 col-sm-6 mb100">
                    <img src="/UploadFiles/p14.png">
                </div>
                <div class="col-md-3 col-sm-6 mb100">
                    <img src="/UploadFiles/p13.png">
                </div>
                <div class="col-md-3 col-sm-6 mb100">
                    <img src="/UploadFiles/p15.png">
                </div>
                <div class="col-md-3 col-sm-6 mb100">
                    <img src="/UploadFiles/p14.png">
                </div>
                <div class="col-md-3 col-sm-6 mb100">
                    <img src="/UploadFiles/p11.png">
                </div>
                <div class="col-md-3 col-sm-6 mb100">
                    <img src="/UploadFiles/p13.png">
                </div>
                <div class="col-md-3 col-sm-6 mb100">
                    <img src="/UploadFiles/p15.png">
                </div>
            </div>
        </div>
    </div>
</div>