@model HomeModel
<div class="box mt45 mb45">
    <div class="home-partner">
        <div class="container">
            <h1 class="header-title">Đối tác của Path</h1>
            <div class="row">
                @foreach (var item in Model.Logos)
                {
                    <div class="col-md-3 col-6 mb100">
                        <img src="@item.URLImage">
                    </div>
                }
            </div>
        </div>
    </div>
</div>