<div class="box mt45">
    <div class="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="content">
                        <img src="~/client/images/Flavors.jpg" alt="">
                        <div class="info-content">
                            <h3 class="title">Tỷ lệ vàng của chất béo</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit…</p>
                            <div class="readmore">
                                <a href="blog_detail.html">đọc thêm</a>
                                <a class="float-right" href=""><span class="icon icon-redo2"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="content">
                        <img src="~/client/images/Seasoning.jpg" alt="">
                        <div class="info-content">
                            <h3 class="title">Tỷ lệ vàng của chất béo</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit…</p>
                            <div class="readmore">
                                <a href="blog_detail.html">đọc thêm</a>
                                <a class="float-right" href=""><span class="icon icon-redo2"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 first-2">
                    <div class="content-list">
                        <span class="title1">Tin tức mới</span>
                        <ul>
                            <li><h3><span class="icon icon-plus"></span><a href="blog_detail.html">VN phát hiện màng bọc thực phẩm nhiễm chất độc</a></h3></li>
                            <li><h3><span class="icon icon-plus"></span><a href="blog_detail.html">Tăng cường kiểm soát về ATVSTP thuỷ sản xk…</a></h3></li>
                            <li><h3><span class="icon icon-plus"></span><a href="blog_detail.html">Tăng cường kiểm soát về ATVSTP thuỷ sản xk…</a></h3></li>
                            <li><h3><span class="icon icon-plus"></span><a href="blog_detail.html">Đường nâu không tốt hơn đường trắng</a></h3></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>