<div class="box mt45">
    <div class="art-navigation">
    <div class="oval-gradient-bg"></div>
        <div class="container integrations_content">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <span class="header-title">Path cung cấp những sản phẩm quý khách cần</span>
                        <!-- circle-container-->
                        <nav class="menunav">
                            <ul class='circle-container'>
                                <li>
                                    <div>
                                        <a href="~/nhom-sanpham-banh-keo"><img src='~/client/images/banh-keo.png'><span class="overlay candy">bánh kẹo</span></a>
                                    </div>
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 42.9 64.1" style="enable-background:new 0 0 42.9 64.1;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0 {
                                            fill: #0066B2;
                                        }
</style>
                                    <g>
                                    <g>
                                    <path class="st0" d="M42.1,34.7C42.1,34.7,42.1,34.7,42.1,34.7l-11.5,0V0H12.3v34.7H1c-0.4,0-0.8,0.3-0.9,0.8
                              C-0.1,36,0,36.6,0.3,37l20.4,26.7c0.2,0.3,0.5,0.4,0.7,0.4s0.5-0.1,0.7-0.4L42.6,37C43.1,36.4,43,35.2,42.1,34.7z" />







                          </g>
                        </g>
                      </svg>
                                </li>
                                <li>
                                    <div>
                                        <a href="~/nhom-chucnang-vi123"><img src='~/client/images/gia-vi.png'><span class="overlay ingredent">gia vị</span></a>
                                    </div>
                                    <svg version="1.1" id="Capa_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 42.9 64.1" style="enable-background:new 0 0 42.9 64.1;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0 {
                                            fill: #0066B2;
                                        }
</style>
                                    <g>
                                    <g>
                                    <path class="st0" d="M42.1,34.7C42.1,34.7,42.1,34.7,42.1,34.7l-11.5,0V0H12.3v34.7H1c-0.4,0-0.8,0.3-0.9,0.8
                              C-0.1,36,0,36.6,0.3,37l20.4,26.7c0.2,0.3,0.5,0.4,0.7,0.4s0.5-0.1,0.7-0.4L42.6,37C43.1,36.4,43,35.2,42.1,34.7z" />







                          </g>
                        </g>
                      </svg>
                                </li>
                                <li>
                                    <div>
                                        <a href="~/nhom-sanpham-kem-sua"><img src='~/client/images/kem-sua.png'><span class="overlay scream">kem sữa</span></a>
                                    </div>
                                    <svg version="1.1" id="Capa_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 42.9 64.1" style="enable-background:new 0 0 42.9 64.1;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0 {
                                            fill: #0066B2;
                                        }
</style>
                                    <g>
                                    <g>
                                    <path class="st0" d="M42.1,34.7C42.1,34.7,42.1,34.7,42.1,34.7l-11.5,0V0H12.3v34.7H1c-0.4,0-0.8,0.3-0.9,0.8
                              C-0.1,36,0,36.6,0.3,37l20.4,26.7c0.2,0.3,0.5,0.4,0.7,0.4s0.5-0.1,0.7-0.4L42.6,37C43.1,36.4,43,35.2,42.1,34.7z" />







                          </g>
                        </g>
                      </svg>
                                </li>
                                <li>
                                    <div>
                                        <a href="~/nhom-sanpham-nuoc-giai-khat-ca-phe"><img src='~/client/images/nuoc-cham.png'><span class="overlay sauce">nước chấm</span></a>
                                    </div>
                                    <svg version="1.1" id="Capa_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 42.9 64.1" style="enable-background:new 0 0 42.9 64.1;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0 {
                                            fill: #0066B2;
                                        }
</style>
                                    <g>
                                    <g>
                                    <path class="st0" d="M42.1,34.7C42.1,34.7,42.1,34.7,42.1,34.7l-11.5,0V0H12.3v34.7H1c-0.4,0-0.8,0.3-0.9,0.8
                              C-0.1,36,0,36.6,0.3,37l20.4,26.7c0.2,0.3,0.5,0.4,0.7,0.4s0.5-0.1,0.7-0.4L42.6,37C43.1,36.4,43,35.2,42.1,34.7z" />







                          </g>
                        </g>
                      </svg>
                                </li>
                                <li>
                                    <div>
                                        <a href="~/nhom-sanpham-nuoc-giai-khat-ca-phe"><img src='~/client/images/nuoc-giai-khat.png'><span class="overlay"><br>nước giải <br> khát</span></a>
                                    </div>
                                    <svg version="1.1" id="Capa_5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 42.9 64.1" style="enable-background:new 0 0 42.9 64.1;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0 {
                                            fill: #0066B2;
                                        }
</style>
                                    <g>
                                    <g>
                                    <path class="st0" d="M42.1,34.7C42.1,34.7,42.1,34.7,42.1,34.7l-11.5,0V0H12.3v34.7H1c-0.4,0-0.8,0.3-0.9,0.8
                              C-0.1,36,0,36.6,0.3,37l20.4,26.7c0.2,0.3,0.5,0.4,0.7,0.4s0.5-0.1,0.7-0.4L42.6,37C43.1,36.4,43,35.2,42.1,34.7z" />







                          </g>
                        </g>
                      </svg>
                                </li>
                                <li>
                                    <div>
                                        <a href="~/nhom-sanpham-thit-ca-che-bien"><img src='~/client/images/thit-ca.png'><span class="overlay"><br>thịt cá <br> chế biến</span></a>
                                    </div>
                                    <svg version="1.1" id="Capa_6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 42.9 64.1" style="enable-background:new 0 0 42.9 64.1;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0 {
                                            fill: #0066B2;
                                        }
</style>
                                    <g>
                                    <g>
                                    <path class="st0" d="M42.1,34.7C42.1,34.7,42.1,34.7,42.1,34.7l-11.5,0V0H12.3v34.7H1c-0.4,0-0.8,0.3-0.9,0.8
                              C-0.1,36,0,36.6,0.3,37l20.4,26.7c0.2,0.3,0.5,0.4,0.7,0.4s0.5-0.1,0.7-0.4L42.6,37C43.1,36.4,43,35.2,42.1,34.7z" />







                          </g>
                        </g>
                      </svg>
                                </li>
                            </ul>
                            <ul class='circle abc'>
                                <li class='coconut light slice'>
                                    <!-- Menu labels -->
                                    <label for='ococonut' class='circle over' id="1"><a href="~/nhom-chucnang-vi-chat-khac">vi chất</a></label>
                                </li>
                                <li class='vanilla light slice'>
                                    <label for='ovanilla' class='circle over' id="2"><a href="~/nhom-chucnang-mau">màu</a></label>
                                </li>
                                <li class='orange light slice'>
                                    <label for='oorange' class='circle over' id="3"><a href="~/nhom-chucnang-mui">mùi</a></label>
                                </li>
                                <li class='almond light slice'>
                                    <label for='oalmond' class='circle'><a href="~/nhom-chucnang-vi123"><span class="over" id="4">vị</span></a></label> <!-- Some menu labels have to be flipped with a span -->
                                </li>
                                <li class='grape light slice'>
                                    <label for='ogrape' class='circle'><a href="~/nhom-chucnang-cau-truc"><span class="over" id="5">cấu trúc</span></a></label>
                                </li>
                                <li class='cherry dark slice'>
                                    <label for='ocherry' class='circle'><a href="~/nhom-chucnang-bao-quan"><span class="over" id="7">bảo quản</span></a></label>
                                </li>
                                <li class='unsel circle'>
                                    <img class="img-fluid" src="~/client/images/icon/logo-header.png" alt="">
                                </li>
                                <li class='middle circle'></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>