<div class="box">
    <div class="brums">
        <img src="~/client/images/product-bg.jpg" alt="">
    </div>
</div>

<!-- Main slider -->
<div class="box mt45 mb45">
    <div class="appli">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content-wrap">
                        <h3 class="title">Quy Trinh Sản Xuất Chả Lụa Tham Khảo</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="title">Các bước thực hiện</h4>
                                <p><strong>Thịt</strong>: Thịt mua về lóc gân bằng tay. Sau đó cắt nhỏ (4cm x 4cm) rồi cho vào tủ đông lạnh đến khi đạt  < - 50C.</p>
                                <p><strong>Mỡ</strong>: Mỡ mua về xay thô bằng máy ruột gà rồi cho vào tủ đông lạnh đến khi đạt < - 20C.</p>
                                <p>Khi tiến hành làm chả: cân thịt và mỡ theo tỉ lệ sau đó cho thịt, mỡ, muối,  Ceamgel M9877, <span style="color:#0066b2">Supper Tari MU (Polyphos-ST, hoặc S1000A)</span>, nước đá vào cối nồi, tiến hành xay chậm rồi từ từ tăng tốc lên nhanh 2000 vòng/phút, xay trong 10 giây.</p>
                                <p>Sau 10 giây giảm tốc độ còn 600 vòng/phút để cho các gia vị còn lại vào, giai đoạn này cần thao tác nhanh (khoảng 10 giây) để hạn chế mất nhiệt cho thịt.</p>
                                <p>Sau đó tăng tốc độ lên 2000 vòng/phút, xay tiếp 60 đến 80 giây. Dừng xay khi nào thấy mọc bóng, mịn, đều. Nhiệt độ mọc khi xay xong phải < 100C. Nhiệt độ càng thấp (càng lạnh) thì chả càng ngon (độ giòn dai càng tốt).</p>
                                <p>Tiến hành định hình và gói chả rồi nhanh chóng cho chả vào nồi hấp. Thời gian chờ hấp càng ngắn thì chả càng ngon (độ giòn dai càng tốt).</p>
                                <p>bảo quản nơi khô ráo, thoáng mát, tránh ánh nắng trực tiếp hoặc bảo quản lạnh</p>
                            </div>
                            <div class="col-md-6">
                                <figure>
                                    <img src="../images/Seasoning.jpg" alt="">
                                    <figcaption></figcaption>
                                </figure>
                                <div class="material-list">
                                    <h4>danh sách nguyên liệu sử dụng</h4>
                                    <ul>
                                        <li><strong>Tạo giòn dai:</strong>S1000A, SuperTariMU, Polyphos_S, Hamifos...</li>
                                        <li><strong>Tạo nhũ:</strong>ML430, ML450</li>
                                        <li><strong>Dùng cho thịt đông lạnh:</strong>TG, Aqualine 303</li>
                                        <li><strong>Tạo màu:</strong>SSS (màu đỏ hồng), Coloren (màu vàng chả chiên)</li>
                                        <li><strong>Bảo quản:</strong>Super-anti, Erybate, Sodium acetate...</li>
                                        <li><strong>Chất độn:</strong>Emflo TV100, Modified Tapioca</li>
                                        <li><strong>Tạo vị:</strong>Amino_s</li>
                                        <li><strong>Hương:</strong>Hương thịt (dạng nước/bột/paste</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h3 class="title">Thành Phẩm</h3>
                        <img src="~/client/images/Micro-Emulsions-in-Poultry.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>