.header-title {
  font-family: $lobsterregular;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: center;
  color: #1e1e1e;
}
.about-us {
  margin-top: 60px;
  .content {
    text-align: center;

    p {
      padding-top: 30px;
    }
    .button {
      padding-top: 30px;
      .btn {
        border: 1px solid #0066b2;
        padding: 15px;
        font-weight: bold;
        &:hover {
          background-color: #0066b2;
          color: $white;
        }
      }
    }
  }
}
.art-navigation {
  margin-top: 60px;
  .content {
    text-align: center;
    span {
      display: block;
      padding-top: 10px;
    }
    .circle-container {
      position: relative;
      /* 1 */
      width: 40em;
      height: 40em;
      padding: 0;
      border-radius: 50%;
      list-style: none;
      /* 2 */
      box-sizing: content-box;
      /* 3 */
      margin:auto;
      // border: solid 1px tomato;
    }
    .circle-container > * {
      /* 4 */
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 6em;
      height: 6em;
      margin: -3em;
    }
    .circle-container > :nth-of-type(1) {
      transform: rotate(30deg) translate(15em) rotate(-30deg);
    }
    .circle-container > :nth-of-type(2) {
      transform: rotate(90deg) translate(15em) rotate(-90deg);
    }
    .circle-container > :nth-of-type(3) {
      transform: rotate(150deg) translate(15em) rotate(-150deg);
    }
    .circle-container > :nth-of-type(4) {
      transform: rotate(210deg) translate(15em) rotate(-210deg);
    }
    .circle-container > :nth-of-type(5) {
      transform: rotate(270deg) translate(15em) rotate(-270deg);
    }
    .circle-container > :nth-of-type(6) {
      transform: rotate(330deg) translate(15em) rotate(-330deg);
    }

    .circle-container img {
      display: block;
      width: 100%;
      border-radius: 50%;
    }
    .circle-container li div {
      position: relative;
    }
    .circle-container li > svg {
      height: 40px;
    }
    .circle-container li > svg#Capa_1 {
      transform: rotate(-128deg) translate(122px) rotate(75deg);
    }
    .circle-container li > svg#Capa_2 {
      transform: rotate(-89deg) translate(152px) rotate(90deg);
    }
    .circle-container li > svg#Capa_3 {
      transform: rotate(-53deg) translate(136px) rotate(112deg);
    }
    .circle-container li > svg#Capa_4 {
      transform: rotate(-10deg) translate(84px) rotate(130deg);
    }
    .circle-container li > svg#Capa_5 {
      transform: rotate(87deg) translate(28px) rotate(90deg)
    }
    .circle-container li > svg#Capa_6 {
      transform: rotate(14deg) translate(-70px) rotate(-132deg);
    }
    .circle-container li img {
      transform: scale(1.25);
    }
    .circle-container li a {
      color: $white;
      font-weight: bold;
    }
    .circle-container li a .overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // background-color: red;
      background-position: center center;
      background-repeat: no-repeat;
      text-align: center;
      border-radius: 50%;
      width: 104px;
      height: 95px;
      box-shadow: inset 0 0 0 0 rgba(200, 95, 66, 0.4), inset 0 0 0 8px rgba(58, 58, 58, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    // wheel menu
    .circle, .circle:before, .circle:after { border-radius: 50%; }
    .menunav {
      position: relative;
      margin:auto;
      // min-width: 10em; width: 50%; max-width: 12em;
      top: 40px;
    }
    .menunav ul.abc {
      position: absolute;
      padding: 95px;
      max-width: 0; max-height: 0;
      list-style: none;
      top: 185px;
      left: 468px;
      margin: auto;
    }
    .menunav li {
      position: absolute;
    }
    .slice {
      overflow: hidden;
      position: absolute;
      top: 0; left: 0;
      width: 50%; height: 50%;
      transform-origin: 100% 100%;
    }
    /* Cell orientation */
    .coconut { transform: rotate(5deg) skewX(40deg); }
    .vanilla { transform: rotate(65deg) skewX(40deg); }
    .orange { transform: rotate(125deg) skewX(40deg); }
    .almond { transform: rotate(185deg) skewX(40deg); }
    .grape { transform: rotate(245deg) skewX(40deg); }
    .cherry { transform: rotate(305deg) skewX(40deg); }
    .menunav label { cursor: pointer; }
    .slice label {
      display: block;
      width: 200%; height: 200%;
      transform: skew(-40deg) rotate(-65deg);
      line-height: 2.9;
      text-align: center;
    }
    .slice label span {
      display: block;
    }

    .menudesc {
      width: 280px;
    }

    /* Cell background colors */
    .coconut label, .ococonut:checked ~ nav .unsel { background: #6a08ba; }
    .vanilla label, .ovanilla:checked ~ nav .unsel { background: #e60001; }
    .orange label, .oorange:checked ~ nav .unsel { background: #03b302; }
    .almond label, .oalmond:checked ~ nav .unsel { background: #ff9601; }
    .grape label, .ogrape:checked ~ nav .unsel { background: #7a1e01; }
    .cherry label, .ocherry:checked ~ nav .unsel { background: #00a6e7; }


    .circle label , .slice label {
      // font-weight: 700; line-height: 5;
      font-size: 10px;
      color: $white;
      font-weight: bold;
    }

    .slice p{
      width: 100px;
      margin-left: 185px;
    }

    .unsel {
      z-index: 2;
      top: 40%; left: 34%;
      width: 32%; height: 32%;
      text-align: center;
      // background-color: wheat;
    }
    .unsel label{
      display: block;
      width: 100%; height: 100%;
      line-height: 9;
    }
    .middle{
      z-index: 1;
      top: 15%; left: 15%;
      width: 70%; height: 70%;
      text-align: center;
      background-color: white;
    }
    .menunav{
      // position: absolute;
      // left: 50%;
    }
    .visible{
        display: block;
        position: absolute;
        margin: 250px 0 0 250px;
    }
    .hidden{
      display: none;
    }
    .visible ul{
      list-style-type: none;
    }
    .visible details ul{
      list-style-type: square;
    }
    .visible a{
      font-size: 120%;
      text-decoration: none;
      color: purple;
    }
    .Reseau a{
      font-size: 160%;
    }
    .Reseau a:hover{
      color: red;
    }
    .circle label span{
      -webkit-transform:rotate(-180deg);
      -moz-transform:rotate(-180deg);
      -o-transform:rotate(-180deg);
      transform:rotate(-180deg);
    }
  }
}
.new-product {
  margin-top: 60px;
  margin-bottom: 60px;
  .header-filter {
    // background-color: #0066b2;
    padding: 20px 0;
    color: #666666;
    .select-hidden {
      display: none;
      visibility: hidden;
      padding-right: 10px;
    }

    .select {
      cursor: pointer;
      display: inline-block;
      position: relative;
      font-size: 14px;
      color: #666666;
      width: 145px;
      top: -2px;
    }

    .select-styled {
      // position: absolute;
      // top: 0;
      // right: 0;
      // bottom: 0;
      // left: 0;
      // background-color: #c0392b;
      padding: 0px 10px;
      -moz-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
    }
    .select-styled:after {
      content: "";
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-color: #666 transparent transparent transparent;
      position: absolute;
      top: 8px;
      right: 10px;
    }
    .select-styled:hover {
      // background-color: #b83729;
    }
    .select-styled:active, .select-styled.active {
      // background-color: #ab3326;
    }
    .select-styled:active:after, .select-styled.active:after {
      top: 2px;
      border-color: transparent transparent #fff transparent;
    }

    .select-options {
      display: none;
      position: absolute;
      top: 115%;
      right: 0;
      left: 0;
      z-index: 999;
      margin: 0;
      padding: 0;
      list-style: none;
      background-color: $white;
      color: #0066b2;
      border: 1px solid #0066b2;
    }
    .select-options li {
      margin: 0;
      padding: 12px 0;
      text-indent: 15px;
      // border-top: 1px solid #962d22;
      -moz-transition: all 0.15s ease-in;
      -o-transition: all 0.15s ease-in;
      -webkit-transition: all 0.15s ease-in;
      transition: all 0.15s ease-in;
    }
    .select-options li:hover {
      color: #c0392b;
      background: #fff;
    }
    .select-options li[rel="hide"] {
      display: none;
    }

    li {
      display: inline-block;
      padding: 0 20px;
      &:hover {
        background-color: #0066b2;
        border-radius: 15px;
        color: $white;
      }
    }
    .active {
      background-color: #0066b2;
      border-radius: 15px;
      color: $white;
    }
  }
  .img-content {
    margin-top: 40px;
    position: relative;

    .overlay {
      position: absolute;
      background-color: rgba(56, 49, 49, 0.6901960784313725);
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: ease-in .35s;
      -moz-transition: ease-in .35s;
      -webkit-transition: ease-in .35s;

      .overlay-content {
        padding: 20px 15px;
        color: $white;
        font-size: 14px;
        p {
          padding-bottom: 10px;
        }
        span {
          font-weight: bold;
        }
      }
    }
  }
  .img-content:hover .overlay {
        opacity: 1;
        visibility: visible;
        transition: ease-in .35s;
        -moz-transition: ease-in .35s;
        -webkit-transition: ease-in .35s;
      }
}
div.news > div:after {
    content: '';
    display: block;
    position:fixed;
    height: 100%;
    width: 50%;
    left: 50%;
    background: red;
  }
.news {
  margin-top: 60px;

  .content-list {

  }
  .content {
    border: 1px solid #e6e6e6;
  }
  .info-content {
    padding: 30px 20px;
    .title {
      font-family: $montserrat-bold;
      // font-weight: bold;
    }
    p {
      padding: 10px 0 20px 0;
      text-align: justify;
    }
  }
  .title1 {
    border-bottom: 2px solid #0066b2;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
  }
  li {
    border-bottom: 1px solid #979797;
    padding: 20px 0;
    position: relative;
    font-weight: bold;
    // font-size: 18px;
    span {
      position: absolute;
      top: 38px;
      font-size: 18px;
    }
    a {
      font-size: 18px;
      padding-left: 40px;
      display: inline-block;
    }
    &:last-child {
      border-bottom: none ;
    }
  }
}

.product-list {
  padding-top: 80px;
  background-image: url(../images/product-bg1.png);
  background-repeat: no-repeat;
  // background-size: cover;
  background-position: right center;
  .aside-nav {
    h3 {
      font-size: 20px;
      color: #4e4e4e;
      font-family: $lobsterregular;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      border-bottom: 1px solid #0066b2;
      width: 100%;
      padding-bottom: 5px;
      padding-left: 30px;
      &:after {
        content: '';
        display: block;
        background-image: url(../images/menu.svg);
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 15px;
        top: 2px;
      }
    }
    ul {
      padding: 20px 0px;
      li {
        padding: 8px 20px;
        border-bottom: 1px solid #e4e4e4;
        span {
          padding-right: 20px;
        }
      }
    }
  }
  .content-wrap {
    h3 {
      font-size: 25px;
      color: #4e4e4e;
      font-family: $lobsterregular;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      text-align: center;
    }
    table {
      // padding-bottom: 20px;
      font-size: 14px;
      // font-weight: bold;
      border-collapse:separate;
      border-spacing:15px;
    }
  }
}
.consultant {
  position: fixed;
  width: 190px;
  border-radius: 40px;
  border: 1px solid #0066b2;
  right: 30px;
  bottom: 30px;
  background-color: #fff;
  z-index: 999;
  .person {
    margin: 10px 20px;
    img {
      float: left;
      width: 50px;
      height: 50px;
    }
    .contact-person {
      float: left;
      font-size: 12px;
      padding-left: 10px;
      span {
        display: block;
        color: #27313d;
        i {
          padding-right: 5px;
        }
      }
      .name {
        font-weight: bold;
        color: #0066b2;
      }
    }
  }
}
.mb-online {
  display:none;
  position: fixed;
  width: 100%;
  height: 77px;
  bottom: 0;
  background-color: #0066b2;
  color: $white;
  z-index: 999;
  .hotline {
    width: 50%;
    height: 77px;
    float:left;
    border-right: 1px dashed $white;
    text-align: center;
    padding: 15px 0;
    .detail-hotline {
      font-family: $lobsterregular;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      text-align: center;
      font-size: 18px;
      text-transform: capitalize;
      span {
        padding-left: 10px;
      }
    }
  }
  .con-person {
    margin: auto;
    width: 50%;
    height: 77px;
    float: right;
  }
  .person {
    margin: 10px 20px;
    img {
      float: left;
      width: 50px;
      height: 50px;
    }
    .contact-person {
      float: left;
      font-size: 12px;
      padding-left: 10px;
      span {
        display: block;
        color: #white;
        i {
          padding-right: 5px;
        }
      }
      .name {
        font-weight: bold;
        color: #fff;
      }
    }
  }
}
.blog-list {
  .content-wrap {
    border: 1px solid #e4e4e4;
  }
  .info-content {
    padding: 30px 20px;
    .title {
      font-weight: bold;
    }
    p {
      padding: 10px 0 20px 0;
      // text-align: justify;
    }
  }
  .wrap-pagination {
    width: 100%;
    text-align: center;
  }
  .pagination {
    display: inline-block;
    position: relative;
    top: 30px;
  }
  .index {
    cursor: pointer;
    display: inline;
    margin-right: 30px;
    padding: 5px;
    user-select: none;
    -moz-user-select: none;
  }
  .index:last-child {
    margin: 0;
  }
  svg {
    left: -13px;
    position: absolute;
    top: -11px;
    transition: transform 500ms;
    width: 46px;
  }
  path {
    fill:none;
    stroke:#0066b2;
    stroke-dasharray: 150 150;
    stroke-width:15;
  }
  .pagination.open:not(.flip) path {
    animation: OpenRight 500ms;
  }
  .pagination.open.flip path {
    animation: OpenLeft 500ms;
  }
  .pagination.i1 svg {
    transform: translateX(0);
  }
  .pagination.i2 svg {
    transform: translateX(45px);
  }
  .pagination.i3 svg {
    transform: translateX(95px);
  }
  .pagination.i4 svg {
    transform: translateX(145px);
  }
  .pagination.i5 svg {
    transform: translateX(195px);
  }
  @keyframes OpenRight {
    25% { stroke-dasharray: 100 150; }
    60% { stroke-dasharray: 100 150; }
    100% { stroke-dasharray: 150 150; }
  }
  @keyframes OpenLeft {
    25% { stroke-dashoffset: -50px; }
    60% { stroke-dashoffset: -50px; }
    100% { stroke-dashoffset: 0; }
  }
}
.blog-detail {
  text-align: center;
  margin-top: 45px;
  h3 {
    font-size: 25px;
    color: #4e4e4e;
    font-family: $lobsterregular;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: center;
  }
  p {
    padding: 10px 0;
    text-align: justify;
  }
}
.contact-form {
    .button {
      .btn {
        border: 1px solid #0066b2;
        padding: 10px 40px;
        font-weight: bold;
        font-size: 16px;
        background-color: transparent;
        text-transform: uppercase;
        &:hover {
          background-color: #0066b2;
          color: $white;
        }
      }
    }
  }
  .contact-form .form-group{
    margin-bottom:40px
  }
  .contact-form .form-group label{
      margin-bottom:10px;
      font-size:14px;
      line-height:24px
  }
  .contact-form .form-group label .star{
      color: red;
  }
  .contact-form .form-group label.error{
      position:absolute;
      font-size:14px;
      color:#949494
  }
  .contact-form .form-control{
      padding-left:0;
      padding-right:0;
      border:0;
      border-bottom:1px solid #d4d4d4;
      border-radius:0;
      box-shadow:none
  }
  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  .contact-form .form-control.error{
      border-bottom-color:#d40000
  }
  .contact-form .form-control.error:focus{
      border-bottom-color:#d40000!important
  }
  .contact-form .form-control:focus{
      border-bottom:1px solid #757575!important
  }
  .contact-form textarea.form-control{
      max-width:100%
  }
.Q-A {
  margin-top: 80px;
  .contet-wrap {
    text-align: center;
    border-right: 1px dashed #0066b2;
    padding: 0px 25px;
    p {
      padding: 10px 0;
      text-align: justify;
    }
  }

}
.QA-list {
  margin-top: 80px;
  .qa-wrap {
    padding: 20px 0;
    li {
      display: inline-block;
      padding: 10px 20px;
      font-weight: bold;
      text-transform: capitalize;
      &:hover {
        padding: 10px 20px;
        border-radius: 30px;
        background-color: #4a90e2;
        color: $white;
      }
    }
    .active {
      padding: 10px 20px;
      border-radius: 30px;
      background-color: #4a90e2;
      color: $white;
    }
  }
  .QA-content {
    .accordion_container {
      width: 100%;
      .wrap {
        border-bottom: 1px solid #e4e4e4;
        margin-top: 10px;
        &:last-child {
          border-bottom: none;
        }
      }
    }
    .accordion_head {
      cursor: pointer;
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .accordion_body p {
      padding: 10px 10px;
      margin: 0px;
    }

    .plusminus {
      background-color: skyblue;
      position: relative;
      padding: 5px 10px;
      color: $white;
      margin-right: 10px;
    }
  }
}
.partner {
  background-color: #efefef;
  .swiper-slide {
    border: 1px solid #e4e4e4;
    text-align: center;
  }
}
.contact {
  margin-top: 80px;
  text-align: center;
  p {
    padding-top: 10px;
  }
}
.contact-info {
  margin-top: 80px;
  .com-wrap1 {
    border-right: 1px dashed #0066b2;
  }
  h3 {
    border-bottom: 2px solid #0066b2;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: bold;
    text-transform: capitalize;
  }
  .incon-info {
    position: relative;
    margin: 15px 0;
    .icon {
      font-size: 14px;
      padding-right: 20px;
      position: absolute;
      top: 3px;
    }
    p {
      padding-left: 30px;
    }
  }
}
.appli {
  .title {
    font-family: $montserrat-bold;
    color: #0066b2;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  p {
    padding: 5px 0;
    // text-align: justify;
    strong {
      font-family: $montserrat-bold;
    }
  }
  figure {
    text-align: center;
    border: 1px solid #efefef;
  }
  .material-list {
    margin-top: 10px;
    h4 {
      font-family: $montserrat-bold;
      color: #0066b2;
      padding-bottom: 10px;
      text-transform: uppercase;
    }
    ul {
      padding-left: 20px;
      li {
        padding: 5px 0;
        &:before {
          content: "\2022";
          color: #0066b2;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
      }
    }
  }
}
