
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .nav-wrap {
  // background-color: #0066b2;
  border-bottom: 3px solid #a2a2a2;
  font-size: 0.75rem;
  &:after {
    content: '';
    border-bottom: 17px solid #0066b2;
    display: block;
  }
  .main{
    width: 100%;
    // padding: 10px 0;
  }
  .mobile-menu {
    margin: 0 auto;
    position: relative;
    top: 20px;
    // background-color: white;
  }
  .dropdown {
    position: absolute;
    width: 175px;
    top: 33px;
    left: 146px;
    opacity: 0;
    visibility: hidden;
    transition: ease-out .35s;
    -moz-transition: ease-out .35s;
    -webkit-transition: ease-out .35s;
    background-color: $white;
    border: 1px solid #999;
    z-index: 90;
  }
  .mainnav > li {
    float: left;
    padding: 5px 15px;
    border: 1px solid #999;
    font-family: $montserrat-medium;
    text-transform: uppercase;
    // padding: 0px 20px;
    color: $white;
    font-weight: bold;
    border-radius: 3px;
    background-color: #f0f0f0;
    // background: maroon;
  }
  .mainnav li:first-child {
    // border: none;
  }
  .mainnav li a {
    display: block;
    padding: 2px 20px;
    color: #444;
  }
  /*First Level*/
  .subs {
    &:before {
      padding-top: 10px;
    }
    // left: -5px;
    position: relative;
    // top: 0px;
    width: 175px;
    border-left: none !important;
    border-bottom: 1px dashed #a2a2a2 !important;
    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    padding: 5px 0;
  }
}
  .new-product {
    .img-content {
    .overlay {
      .overlay-content {
        font-size: 10px;
        }
      }
    }
  }

  .art-navigation {
    .content {
      .menunav ul.abc {
        position: absolute;
        padding: 95px;
        max-width: 0; max-height: 0;
        list-style: none;
        top: 185px;
        left: 378px;
        margin: auto;
      }
    }
  }

}
@media only screen and (max-width : 991px) {
  .art-navigation {
    .content {
      .menunav ul.abc {
        position: absolute;
        padding: 95px;
        max-width: 0; max-height: 0;
        list-style: none;
        top: 185px;
        left: 258px;
        margin: auto;
      }
    }
  }
  .nav-wrap {
    .mainnav > li {
      padding: 5px 10px;
    }
  }
  .contact-info {
    h3 {
      font-size: 1.5rem - 0.25rem;
    }
    .incon-info {
      .icon {
        font-size: 14px;
        padding-right: 20px;
        position: absolute;
        top: 3px;
      }
    }
  }
  .QA-wrap {
    margin-top: 40px;
  }
  .news {
    // background-color: #012046;
    padding: 20px 0px;
    .first-2 {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
    }
  }
  .new-product {
  .header-filter {
      font-size: 14px;
      .select-hidden {
        display: none;
        visibility: hidden;
        padding-right: 10px;
      }
      .select {
        width: 102px;
        font-size: 10px;
      }
      .select-styled:active:after, .select-styled.active:after {
        top: 0px;
      }
      .select-styled:after {
        top: 6px;
        right: -2px;
      }
    }
  }
  .news, .blog-list {
    .info-content {
      .title {
        font-size: 18px;
      }
      p {
        font-size: 14px;
        text-align: inherit;
      }
    }
    li {
      span {
        top: 30px;
      }
    }
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) and (max-width : 991px) {

  .header-title {
        font-size: 28px;
      }
  .about-us {
    .content {
      text-align: center;
      p {
        padding-top: 30px;
        font-size: 14px;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  .product-list {
    .content-wrap {
      h3 {
        font-size: 20px;
      }
      table {
        font-size: 12px;
      }
    }
  }
  .nav-wrap {
    background-color: #0066b2;
    border-bottom: none;
    &:after {
      border-bottom: none;
    }
  }
  .contact-form .form-group label{
      margin-bottom:10px;
      font-size:12px;
      line-height:15px
  }
  .product-list {
  padding-top: 80px;
  background-image: none;
  }
  .mt60 {
    margin-top: 60px;
  }
  .mt45 {
    margin-top: 0;
  }
  .contact-info {
  .com-wrap1 {
    border-right: none;
    margin-top: 40px;
  }
  .first-2 {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
    }
}
  .Q-A {
    .contet-wrap {
      border-right: none;
      padding: 0px;
    }
  }
  .header-filter {
    text-align: center;
      .mbb20 {
      padding-bottom: 10px;
    }
  }
  .new-product {
    .img-content {
    .overlay {
      .overlay-content {
        font-size: 12px;
        }
      }
    }
  }
  .header-title {
        font-size: 28px;
      }
  .header-logo{
    padding: 20px 0;
    text-align: center;
    .logo {
      img {
        width: 151px;
        height: 100px;
      }
      span {
        font-size: 14px;
        padding: 0px 10px;
        color: #0066b2;
        font-weight: bold;
      }
      .accep {
        padding-right: 10px;
        padding-left: 10px;
      }
      .trust {
        padding-right: 10px;
        padding-left: 30px;
      }
    }
  }
  .art-navigation {
    .content {
      .circle-container {
        position: relative;
        /* 1 */
        width: 574px;
        height: 574px;
      }
      .circle-container > * {
        width: 4em;
        height: 4em;
      }
      .circle-container li > svg {
        height: 30px;
      }
      .circle-container > :nth-of-type(1) {
        transform: rotate(30deg) translate(12em) rotate(-30deg);
      }
      .circle-container > :nth-of-type(2) {
        transform: rotate(90deg) translate(12em) rotate(-90deg);
      }
      .circle-container > :nth-of-type(3) {
        transform: rotate(150deg) translate(12em) rotate(-150deg);
      }
      .circle-container > :nth-of-type(4) {
        transform: rotate(210deg) translate(12em) rotate(-210deg);
      }
      .circle-container > :nth-of-type(5) {
        transform: rotate(270deg) translate(12em) rotate(-270deg);
      }
      .circle-container > :nth-of-type(6) {
        transform: rotate(330deg) translate(12em) rotate(-330deg);
      }

      .circle-container li > svg#Capa_1 {
        transform: rotate(-130deg) translate(90px) rotate(74deg);
      }
      .circle-container li > svg#Capa_2 {
        transform: rotate(-90deg) translate(108px) rotate(90deg);
      }
      .circle-container li > svg#Capa_3 {
        transform: rotate(-54deg) translate(96px) rotate(115deg);
      }
      .circle-container li > svg#Capa_4 {
        transform: rotate(-10deg) translate(60px) rotate(130deg);
      }
      .circle-container li > svg#Capa_5 {
        transform: rotate(88deg) translate(25px) rotate(90deg);
      }
      .circle-container li > svg#Capa_6 {
        transform: rotate(12deg) translate(-55px) rotate(-128deg);
      }
      .circle-container li a .overlay {
        width: 80px;
        height: 70px;
        box-shadow: inset 0 0 0 0 rgba(200, 95, 66, 0.4), inset 0 0 0 5px rgba(58, 58, 58, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
      }
      .menunav {
        overflow: auto;
      }
      .menunav ul.abc {
        position: absolute;
        padding: 80px;
        max-width: 0; max-height: 0;
        list-style: none;
        top: 194px;
        left: 196px;
        margin: auto;
      }
    }
  }
}

/* Small Devices, Phones */
@media only screen and (max-width: 575px) {
  body {
  font-size: 12px;
}
  .consultant {
    display: none;
  }
  .mb-online {
    display: block;
  }
  .new-product {
    .img-content {
    .overlay {
      height: 100%;
      min-height: 330px;
      max-height: 820px;
      .overlay-content {
        font-size: 16px;
        }
      }
    }
  }
  .top-bar {
    display: none;
  }
  .header-logo{
    padding: 20px 0;
    text-align: center;
    .logo {
      img {
        width: 100px;
        height: 50px;
      }
      span {
        font-size: 8px;
        padding: 0px 6px;
        color: #0066b2;
        font-weight: bold;
      }
      .accep {
        padding-right: 6px;
        padding-left: 6px;
      }
      .trust {
        padding-right: 6px;
        padding-left: 10px;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 425px) {
  // .art-navigation {
  //   .content {
  //     .menunav ul.abc {
  //       position: relative;
  //       padding: 80px;
  //       max-width: 0; max-height: 0;
  //       list-style: none;
  //       top: -380px;
  //       left: 75px;
  //       margin: auto;
  //     }
  //   }
  // }
}
@media only screen and (min-width: 321px) and (max-width : 375px) {
  .mb-online {
    .con-person {
      padding: 6px 0;
    }
    .person {
      img {
        float: left;
        width: 40px;
        height: 40px;
      }
      .contact-person {
        float: left;
        font-size: 10px;
        padding-left: 0px;
      }
    }
  }
  // .art-navigation {
  //   .content {
  //     .menunav ul.abc {
  //       position: relative;
  //       padding: 80px;
  //       max-width: 0; max-height: 0;
  //       list-style: none;
  //       top: -380px;
  //       left: 100px;
  //       margin: auto;
  //     }
  //   }
  // }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .mb-online {
    .con-person {
      padding: 6px 0;
    }
    .person {
      img {
        float: left;
        width: 40px;
        height: 40px;
      }
      .contact-person {
        float: left;
        font-size: 10px;
        padding-left: 5px;
      }
    }
  }
  // .art-navigation {
  //   .content {
  //     .menunav ul.abc {
  //       position: relative;
  //       padding: 80px;
  //       max-width: 0; max-height: 0;
  //       list-style: none;
  //       top: -380px;
  //       left: 45%;
  //       margin: auto;
  //     }
  //   }
  // }
}
