@model PagedResult<PostModel>
<!-- Header -->
<div class="box">
    <div class="brums">
        <img src="~/client/images/product-bg1.jpg" alt="">
    </div>
</div>

<!-- Main slider -->
<div class="box mt45 mb45">
    <div class="blog-list">
        <div class="container">
            <div class="row">

                @{
                    await Html.RenderPartialAsync("~/Views/Blog/_Index/_Post.cshtml", Model.Results).ConfigureAwait(true);
                }

                <div class="wrap-pagination">
                    <div class="pagination">
                        <span>
                            @{
                                if (Model.PageCount > 0)
                                {
                                    for (int i = 0; i < Model.PageCount; i++)
                                    {
                                        <div class="index"><a href="~/tintuc-@i/">@i</a></div>
                                    }
                                }
                            }
                        </span>
                        <svg viewBox="0 0 100 100">
                            <path d="m 7.1428558,49.999998 c -1e-7,-23.669348 19.1877962,-42.8571447 42.8571442,-42.8571446 23.669347,0 42.857144,19.1877966 42.857144,42.8571446" />
                        </svg>
                        <svg viewBox="0 0 100 100">
                            <path d="m 7.1428558,49.999998 c -1e-7,23.669347 19.1877962,42.857144 42.8571442,42.857144 23.669347,0 42.857144,-19.187797 42.857144,-42.857144" />
                        </svg>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>