<footer id="footer-style-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-6 col-md-3 mt45">
                <div class="footer-logo">
                    <img class="img-fluid" src="~/client/images/icon/logo-footer2.png" alt="foo-logo">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mt45">
                <h3>Địa chỉ công ty</h3>
                <div class="incon-info">
                    <span class="icon icon-location2"></span>
                    <p><span>476/23 Âu cơ, Q.Tân Bình, TP.HCM</span></p>
                </div>
                <div class="incon-info">
                    <span class="icon icon-phone"></span>
                    <p><a href=”tel:0964891898″><span>Điện thoại: 090 3432 2312</span></a></p>
                </div>
                <div class="incon-info">
                    <span class="icon icon-mail2"></span>
                    <p><a href='mailto:info@path.com.vn'><span>Email: info@path.com.vn</span></a></p>
                    
                </div>
                <div class="incon-info">
                    <a href="">
                        <span class="icon icon-earth"></span>
                        <p><span>coi bản đồ</span>
                    </a></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mt45">
                <h3>Chính sách path</h3>
                <ul class="foo-policy">
                    <li><a href="chinhsach-muaban.html">Chính sách mua hàng & thanh toán</a></li>
                    <li><a href="chinhsach-vanchuyen.html">Chính sách vận chuyển</a></li>
                    <li><a href="chinhsach-doitra.html">Chính sách đổi trả</a></li>
                    <li><a href="">Path tuyển dụng</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mt45">
                <div class="social">
                    <h3>Kết nối với Path</h3>
                    <ul class="foo-social">
                        <li><a href=""><span class="icon icon-facebook"></a></li>
                        <li><a href=""><span class="icon icon-google-plus"></a></li>
                        <li><a href=""><span class="icon icon-instagram"></a></li>
                        <li><a href=""><span class="icon icon-twitter"></a></li>
                    </ul>
                </div>
                <div class="certi" style="display:none">
                    <h3>Certification</h3>
                    <img src="" alt="bộ công thương">
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <div class="container">
            <div class="row">
                <div class="col-md-12">Path 2019 Copyright. All Right Reserved 2-19 Designed by <span style="color:orange">Iteam</span></div>
            </div>
        </div>
    </div>
</footer>