<header>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p class="work-time">
                        <span class="icon icon-alarm"></span>Thứ 2 - 7: 8g30 - 17g00
                    </p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <p class="phone float-right">
                        <span class="icon icon-phone"></span>hotline: 090 3245 3422
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="header-logo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo">
                        <span>Promise</span><span class="accep">Acceptance</span><a href="index.html"><img src="~/client/images/icon/logo-header.png" alt=""></a><span class="trust">Trust</span><span>Hope</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-wrap">
        <div class="container">
            <div class="row">
                <nav class="mobile-menu">
                    <ul class="mainnav">
                        <li><a href="index.html">trang chủ</a>
                        <li class="hassubs">
                            <a href="product-list.html">sản phẩm</a>
                            <ul class="dropdown">
                                <li class="subs hassubs">
                                    <a href="product-list.html">theo chức năng</a>
                                    <ul class="dropdown">
                                        <li class="subs"><a href="product-list.html">Vị</a></li>
                                        <li class="subs"><a href="product-list.html">Màu</a></li>
                                        <li class="subs"><a href="product-list.html">Mùi</a></li>
                                        <li class="subs"><a href="product-list.html">Cấu trúc</a></li>
                                        <li class="subs"><a href="product-list.html">bảo quản</a></li>
                                        <li class="subs"><a href="product-list.html">Vị chất & khác</a></li>
                                    </ul>
                                </li>
                                <li class="subs hassubs">
                                    <a href="product-list.html">theo lĩnh vực</a>
                                    <ul class="dropdown">
                                        <li class="subs"><a href="product-list.html">bánh kẹo</a></li>
                                        <li class="subs"><a href="product-list.html">kem sữa</a></li>
                                        <li class="subs"><a href="product-list.html">nước giải khát</a></li>
                                        <li class="subs"><a href="product-list.html">thịt cá chế biến</a></li>
                                        <li class="subs"><a href="product-list.html">mì bún chả</a></li>
                                        <li class="subs"><a href="product-list.html">nước chấm</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="blog.html">tin tức</a></li>
                        <li><a href="~/ungdung">ứng dụng</a></li>
                        <li><a href="Q&A.html">faq</a></li>
                        <li><a href="~/lienhe">liên hệ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>