<div class="consultant">
    <div id="caroseul" class="swiper-container swiper3 person">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="~/client/images/customer-service.svg" alt="">
                <div class="contact-person">
                    <span class="name">Mr Việt</span>
                    <span class="chat"><i class="icon icon-bubbles2"></i>chat online</span>
                    <span class="phone"><i class="icon icon-phone"></i>090902312</span>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/client/images/customer-service.svg" alt="">
                <div class="contact-person">
                    <span class="name">Mrs Phượng</span>
                    <span class="chat"><i class="icon icon-bubbles2"></i>chat online</span>
                    <span class="phone"><i class="icon icon-phone"></i>090902312</span>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/client/images/customer-service.svg" alt="">
                <div class="contact-person">
                    <span class="name">Mr Vỹ</span>
                    <span class="chat"><i class="icon icon-bubbles2"></i>chat online</span>
                    <span class="phone"><i class="icon icon-phone"></i>090902312</span>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/client/images/customer-service.svg" alt="">
                <div class="contact-person">
                    <span class="name">Mr Khanh</span>
                    <span class="chat"><i class="icon icon-bubbles2"></i>chat online</span>
                    <span class="phone"><i class="icon icon-phone"></i>090902312</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- online chat -->
<div class="mb-online">
    <div class="mbonline-wrapper">
        <div class="hotline">
            <div class="detail-hotline"><i class="icon icon-phone-hang-up"></i><span>Số tổng đài</span></div>
            <div><span>090909090</span></div>
        </div>
        <div class="con-person">
            <div id="caroseul" class="swiper-container swiper3 person">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="~/client/images/customer-service.svg" alt="">
                        <div class="contact-person">
                            <span class="name">Mr Việt</span>
                            <span class="chat"><i class="icon icon-bubbles2"></i>chat online</span>
                            <span class="phone"><i class="icon icon-phone"></i>090902312</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="~/client/images/customer-service.svg" alt="">
                        <div class="contact-person">
                            <span class="name">Mrs Phượng</span>
                            <span class="chat"><i class="icon icon-bubbles2"></i>chat online</span>
                            <span class="phone"><i class="icon icon-phone"></i>090902312</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="~/client/images/customer-service.svg" alt="">
                        <div class="contact-person">
                            <span class="name">Mr Vỹ</span>
                            <span class="chat"><i class="icon icon-bubbles2"></i>chat online</span>
                            <span class="phone"><i class="icon icon-phone"></i>090902312</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="~/client/images/customer-service.svg" alt="">
                        <div class="contact-person">
                            <span class="name">Mr Khanh</span>
                            <span class="chat"><i class="icon icon-bubbles2"></i>chat online</span>
                            <span class="phone"><i class="icon icon-phone"></i>090902312</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>