<meta charset="UTF-8">
<title>@ViewData["Title"]</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="@ViewData["Description"]">
<meta name="author" content="path.com.vn">

<!-- Favicon-->
<link rel="shortcut icon" href="~/client/images/icon/favicon.png" type="image/x-icon">