@model FooterModel
<footer class="footer">
    <div class="section-footer">
        <div class="container position-relative">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                    <div class="info-company">
                        <h3>CTY TNHH HƯỚNG ĐI</h3>
                        @{
                            if (Model.Infos.Count() > 0)
                            {
                                <div class="address-company">
                                    <span class="icon icon-location2"></span>@Model.Infos.ToList()[0].Address
                                </div>
                                <a href='mailto:@Model.Infos.ToList()[0].Email'><span class="icon icon-phone"></span>Email: @Model.Infos.ToList()[0].Email</a>
                                <a href="tel:@Model.Infos.ToList()[0].Phone"><span class="icon icon-mail2"></span>Điện thoại: @Model.Infos.ToList()[0].Phone</a>
                            }
                        }
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-7 col-xl-8">
                    <div class="follow-company">
                        <div class="box-social">
                            <h3>Follow cùng PATH</h3>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/CauLacBoTiengAnhSaiGonAmerican" target="_blank">
                                        <span class="icon icon-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="youtube" href="https://www.youtube.com/user/nhungcindylemon" target="_blank">
                                         <span class="icon icon-youtube"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="menu-footer">
                        <li class="nav-item">
                            <a class="nav-link" href="~/">Trang Chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/sanpham">Sản Phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/tintuc">Tin Tức</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ứng Dụng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/cauhoi">F&Q</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/lienhe">Liên Hệ</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="copr-right">Path 2019 Copyright. All Right Reserved 2-19 Designed by <span style="color:orange">CVTeam</span></div>
                <ul class="term-condition">
                    @foreach (var item in Model.PageContents)
                    {
                        <li><a href="~/ungdung-@item.Slug">@item.Name</a></li>
                    }
                </ul>
            </div>
            <button class="scroll-top" title="Go to top"></button>
        </div>
    </div>
    <div id="fb-root"></div>
</footer>