<div class="bg-hex"></div>
<div class="box mt45">
    <div class="about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 mt60">
                    <div class="content fadeInLeft">
                        <h1 class="header-title">About Us</h1>
                        <p>
                            CTY TNHH HƯỚNG ĐI – PATH Co., Ltd – specializing in providing aromas and additives used in food processing - pharmaceuticals; chemicals and aromas used in industry. PATH's business goal is to provide high quality products - hygienic - safe together with the best service quality to support customers to improve product quality and reduce costs..
                        </p>
                        <p>We are committed to doing our best to gain the acceptance and trust of our partners through the professional and enthusiastic working style of our staff. This will bring the belief that underpins our relationships with domestic and foreign partners to develop more sustainably. We take pride in our selection of reputable suppliers and our focus on quality control of the products we offer in the market. With a reputation in business and service quality, PATH has officially become an importer and distributor of MANE - the world's leading French aromatherapy group - in the Vietnamese market.</p>

                        <!--<div class="button"><a class="btn" href="">Tìm hiểu thêm</a></div>-->
                    </div>
                </div>
                <div class="order-first order-md-0 col-md-6 fadeInRight">
                    <img class="img-fluid" src="~/client/images/path1.png" alt="pathing">
                </div>
            </div>
        </div>
    </div>
</div>