
@{
    ViewData["Title"] = "Access denied";
}

<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Page</a></li>
                            <li class="breadcrumb-item active">Access denined</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Access denined</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

    </div> <!-- container -->

</div> <!-- content -->