@model IEnumerable<WebImageModel>
<div class="box mt45">
    <div class="partner">
        <div class="swiper-container swiper2">
            <div class="swiper-wrapper">
                @foreach (var item in Model)
                {
                    <div class="swiper-slide"><img src="@item.URLImage" alt="@item.Name"></div>
                }
            </div>
        </div>
    </div>
</div>