@{
    ViewData["Title"] = "Post";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">CMS</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Setting</a></li>
                            <li class="breadcrumb-item active">Posts</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Posts</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <form class="form-inline">
                                    <div class="form-group mb-2">
                                        <label for="inputPassword2" class="sr-only">Search</label>
                                        <input type="search" class="form-control" id="inputPassword2" v-model="filter" placeholder="Search...">
                                    </div>
                                    <div class="form-group mx-sm-3 mb-2">
                                        <button id="demo-btn-addrow" class="btn btn-primary" v-on:click="loadData" type="button"><i class="mdi mdi-file-find"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-8">
                                <div class="text-sm-right">
                                    <a asp-area="admin" asp-controller="post" asp-action="create" class="btn btn-primary mb-2 mr-1" data-overlaycolor="#38414a"><i class="mdi mdi-plus-circle mr-1"></i> Bài viết mới</a>
                                </div>
                            </div><!-- end col-->
                        </div>

                        <div class="table-responsive">
                            <table class="table table-centered table-striped" id="products-datatable">
                                <thead>
                                    <tr>
                                        <th>Hình đại diện</th>
                                        <th>Tên</th>
                                        <th>Danh mục</th>
                                        <th>Ngày đăng</th>
                                        <th style="width: 85px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in list">
                                        <td class="table-user">
                                            <img :src="item.urlImage" alt="table-user" class="mr-2 rounded-circle">
                                        </td>
                                        <td>
                                            {{item.name}}
                                        </td>
                                        <td v-if="item.categoryBlogId === null">
                                            
                                        </td>
                                        <td v-else-if="item.categoryBlogId !== null">
                                            {{item.categoryBlog.name}}
                                        </td>
                                        <td>
                                            {{item.pushlishDate | formatDate}}
                                        </td>
                                        <td>
                                            <a :href="'/admin/post/update/' + item.id " class="action-icon"><i class="mdi mdi-square-edit-outline"></i></a>
                                            <a v-on:click="deleteItem(item.id)" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <paginate v-model="page"
                                  :page-count="pCount"
                                  :page-range="2"
                                  :container-class="'pagination pagination-rounded justify-content-end mb-0'"
                                  :page-class="'page-item'"
                                  :page-link-class="'page-link'"
                                  :prev-class="'page-item'"
                                  :prev-link-class="'page-link'"
                                  :next-class="'page-item'"
                                  :next-link-class="'page-link'"
                                  :prev-text="'<'"
                                  :next-text="'>'"
                                  :click-handler="loadData">
                        </paginate>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

    </div> <!-- container -->
</div>

@section Scripts{
    <script src="~/lib/vuejs-paginate/dist/index.js"></script>
    <script src="~/webAppAdmin/blog/post/list.js"></script>
}