//path.com.vn
#footer-style-1 {
  background-color: #0066b2;
  color: $white;
  .footer-logo {
    text-align: center;
  }
  h3 {
    border-bottom: 2px solid $white;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: bold;
    text-transform: capitalize;
  }
  .incon-info {
    position: relative;
    margin: 15px 0;
    .icon {
      font-size: 14px;
      padding-right: 20px;
      position: absolute;
      top: 3px;
    }
    p {
      padding-left: 30px;
    }
  }
  .foo-policy {
    li {
      margin: 15px 0px;
      a:hover {
        color: #059bff;
      }
    }
  }
  .foo-social {
    li {
      padding: 10px 20px 10px 0px;
      display: inline-block;
      font-size: 30px;
      a:hover {
        color: #059bff;
      }
    }
  }
  .copy-right {
    border-top: 1px solid #979797;
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
    margin-top: 40px;
  }
}
