.top-bar {
  background-color: #0066b2;
  font-size: 8px;
  color: $white;
  padding:5px 0;
  .icon {
    padding-right:5px;
  }
}
.header-logo{
  padding: 50px 0;
  text-align: center;
  background-image: url(../images/dna.png);
  background-repeat: no-repeat;
  background-position: right;
  .logo {
    text-align: left;
  }
  .logo-text {
    display: inline-block;
    font-family: $montserrat-medium;
  }
  span {
    padding: 0px 40px;
    color: #0066b2;
    // font-weight: bold;
    font-size: 25px;
  }
}
.nav-wrap {
  // background-color: #0066b2;
  border-bottom: 3px solid #a2a2a2;
  font-size: 0.75rem;
  &:after {
    content: '';
    border-bottom: 17px solid #0066b2;
    display: block;
  }
  .main{
    width: 100%;
    // padding: 10px 0;
  }
  .mobile-menu {
    margin: 0 auto;
    position: relative;
    top: 20px;
    // background-color: white;
  }
  /*General Menu Styling*/
   .mainnav{
      margin: 0 auto
  }
  li {
    list-style: none;

  }
  li a {
    text-decoration: none;
  }
  .dropdown {
    position: absolute;
    width: 175px;
    top: 33px;
    left: 146px;
    opacity: 0;
    visibility: hidden;
    transition: ease-out .35s;
    -moz-transition: ease-out .35s;
    -webkit-transition: ease-out .35s;
    background-color: $white;
    border: 1px solid #999;
    z-index: 90;
  }
  .mainnav > li {
    float: left;
    padding: 5px 15px;
    border: 1px solid #999;
    font-family: $montserrat-medium;
    text-transform: uppercase;
    // padding: 0px 20px;
    color: $white;
    font-weight: bold;
    border-radius: 3px;
    background-color: #f0f0f0;
    // background: maroon;
  }
  .mainnav li:first-child {
    // border: none;
  }
  .mainnav li a {
    display: block;
    padding: 2px 20px;
    color: #444;
  }
  .mainnav li:hover {
    background: #fff;
    transition: ease-in .35s;
    -moz-transition: ease-in .35s;
    -webkit-transition: ease-in .35s;
    // border: 1px solid #0066b2;
  }
  .mainnav li:hover a {
    color: #0066b2;
    transition: ease-in .35s;
    -moz-transition: ease-in .35s;
    -webkit-transition: ease-in .35s;
  }
  /*First Level*/
  .subs {
    &:before {
      padding-top: 10px;
    }
    // left: -5px;
    position: relative;
    // top: 0px;
    width: 175px;
    border-left: none !important;
    border-bottom: 1px dashed #a2a2a2 !important;
    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    padding: 5px 0;
  }
  .subs:last-child {
    border: none !important;
  }
  .hassubs:hover .dropdown,.hassubs .hassubs:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transition: ease-in .35s;
    -moz-transition: ease-in .35s;
    -webkit-transition: ease-in .35s;
  }
  .mainnav li:hover ul a,.mainnav li:hover ul li ul li a {
    color: #2b4051;
  }
  .mainnav li ul li:hover,.mainnav li ul li ul li:hover {
    background: #0066b2;
    transition: ease-in-out .35s;
    -moz-transition: ease-in-out .35s;
    -webkit-transition: ease-in-out .35s;
  }
  .mainnav li ul li:hover a,.mainnav li ul li ul li:hover a {
    color: $white;
    transition: ease-in-out .35s;
    -moz-transition: ease-in-out .35s;
    -webkit-transition: ease-in-out .35s;
  }
  /*Second Level*/
  .hassubs .hassubs .dropdown .subs {
    // left: 25px;
    position: relative;
    // width: 165px;
    top: 0px;
  }
  .hassubs .hassubs .dropdown{
    position: absolute;
    width: 175px;
      left: 173px;
      top: -1px;
    opacity: 0;
    visibility: hidden;
    transition: ease-out .35s;
    -moz-transition: ease-out .35s;
    -webkit-transition: ease-out .35s;
  }
}
